{% extends "layout.html" %}
{% block body_content %}
	<h1>About</h1>
	<h2> This is my SFIA Project 1</h2>
	<p>A web application that allows the renting of video games from different platforms.
	<br><br>Users can: 
	<ul style="list-style-type:disc;">
	<li>View the different video Games available</li>
	<li>Create an account by registering</li>
	<li>Login to their accounnt</li>
	<li>Create rental requests</li>
	<li>Delete rental request</li>
	<li>Update their account details</li>
	<li>Delete their account</li> 
	</ul>
	</p>
{% endblock %}
